$font-size-base:              1rem; // Assumes the browser default, typically `16px`

/* ----------------------------------------------------------- */

$font-family-base:            'Roboto', sans-serif;
$font-weight-base:            300;
$line-height-base:            1.5;

$headings-margin-bottom:      $spacer;
$headings-font-family:        'Roboto', sans-serif;
$headings-font-weight:        500;
$headings-line-height:        1.3;
$headings-color:              theme-color('primary');

/* ----------------------------------------------------------- */

$html-font-sizes: (
	xs: 16px,
	sm: 16px,
	md: 16px,
	lg: 16px,
	xl: 17px
);

$h1-font-sizes: (
	xs: $font-size-base * 2.2,
	sm: $font-size-base * 2.2,
	md: $font-size-base * 2.2,
	lg: $font-size-base * 2.2,
	xl: $font-size-base * 2.2
);

$h2-font-sizes: (
	xs: $font-size-base * 1.5,
	sm: $font-size-base * 1.6,
	md: $font-size-base * 1.6,
	lg: $font-size-base * 1.6,
	xl: $font-size-base * 1.6
);

$h3-font-sizes: (
	xs: $font-size-base * 1.3,
	sm: $font-size-base * 1.4,
	md: $font-size-base * 1.4,
	lg: $font-size-base * 1.4,
	xl: $font-size-base * 1.4
);

$h4-font-sizes: (
	xs: $font-size-base * 1.2,
	sm: $font-size-base * 1.2,
	md: $font-size-base * 1.2,
	lg: $font-size-base * 1.2,
	xl: $font-size-base * 1.2
);

$h5-font-sizes: (
	xs: $font-size-base * 1.1,
	sm: $font-size-base * 1.1,
	md: $font-size-base * 1.1,
	lg: $font-size-base * 1.1,
	xl: $font-size-base * 1.1
);

$h6-font-sizes: (
	xs: $font-size-base,
	sm: $font-size-base,
	md: $font-size-base,
	lg: $font-size-base,
	xl: $font-size-base
);

/* ----------------------------------------------------------- */

$navbar-font-sizes: (
	xs: 16px,
	sm: 16px,
	md: 16px,
	lg: 18px,
	xl: 18px
);

$utility-bar-font-size:	(
	xs: 11px,
	sm: 13px,
	md: 13px,
	lg: 13px,
	xl: 13px
);

$site-legal-font-size: (
	xs: 13px,
	sm: 13px,
	md: 13px,
	lg: 13px,
	xl: 13px
);

/* ----------------------------------------------------------- */