.lg-testimonial.carousel .lg-testimonial-arrows .arrow-left{
	left: 0;
}

.lg-testimonial.carousel .lg-testimonial-arrows .arrow-right{
	right: 0;
}

.lg-testimonial .lg-testimonial-content>div{
	@media (min-width: 768px) and (max-width: 1000px){
		padding: 0 80px;
	}
}

.lg-testimonial-content{
	h6{
		color: theme-color('dark');
	}
}

.gform_wrapper{
	margin-top: 0 !important;
}

.service-category-slider-wrap{
	.single-service-category-slider{
		padding: 0 1px;
	}

	.slick-next::before, .slick-prev::before{
		color: theme-color('gray');
	}
}

.members-list {
	a {
		img {
			margin: auto;
		}
	}
}