#site-footer{
	#site-footer-main{
		@extend .py-4;
		@extend .py-md-0;

		p,div,span, a{
			color: #fff;
		}

		#menu-footer-nav {
				a{
					position: relative;
					&::after{
						position: absolute;
						left: 0;
						bottom: -5px;
						content: '';
						width: 0;
						height: 1px;
						background-color: theme-color('white');
						transition: width .4s ease-out 0s;
					}
					&:hover{
						&::after{
							width: 100%;
						}
					}
				}
			}

		>div{
			@extend .container;
			flex-wrap: wrap;

			@include media-breakpoint-down(sm){
				flex-direction: column;
			}

			.widget-title{
				@extend .h3;
				@extend .px-0;
				@extend .pt-0;
				color: #fff;
				display: flex;
				flex-direction: column;
				background-color: transparent;
				border: 0;

				&::after{
					content: '';
					margin-top: 10px;
					width: 100%;
					max-width: 100px;
					border-bottom: 2px solid theme-color('primary');

					@include media-breakpoint-down(sm){
						margin-left: auto;
						margin-right: auto;
					}
				}
			}

			>div{
				@extend .py-4;
				max-width: 100%;

				.widget{
					margin-bottom: 0;
				}
			}

			.site-footer-alpha{
				flex-basis: 200px;
				.menu{
					padding: 0;
					margin: 0;
					padding-left: 0;
					color: theme-color('primary');
					list-style: none;

					li{
						margin-bottom: 7px;

						&:last-child{
							margin-bottom: 0;
						}

						a{
							color: #fff;
							font-weight: 300;
						}
					}
					@include media-breakpoint-down(sm){
						list-style: none;
						padding-left: 0;
					}
				}
			}
			.site-footer-bravo{
				flex-basis: calc(100% - 640px);
				.lg-map{
					max-width: 300px;
					@include media-breakpoint-down(sm){
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
			.site-footer-charlie{
				flex-basis: 400px;
				padding-left: 30px;
				padding-right: 30px;
	
				@include media-breakpoint-down(sm){
					flex-basis: 100%;
				}

				@media (min-width: 1000px){
					padding-left: 60px;
					padding-right: 60px;
					background-color: theme-color('primary');
					margin-left: 40px;
					transform: translate(1px, 0px) rotate(0deg) skew(-6deg, 0deg) scale(1, 1);
					.widget{
						transform: skew(6deg, 0deg)
					}
				}
				.textwidget {
					a{
						position: relative;
						&::after{
							position: absolute;
							left: 0;
							bottom: -5px;
							content: '';
							width: 0;
							height: 1px;
							background-color: theme-color('white');
							transition: width .4s ease-out 0s;
						}
						&:hover{
							&::after{
								width: 100%;
							}
						}
					}
				}

				
				.lg-social-media-cont{
					.lg-social-media{
						padding: 0;
						margin: 0;
						display: flex;
						flex-wrap: wrap;
						list-style: none;
						@include media-breakpoint-down(sm){
							justify-content: center;
						}
						li{
							margin-right: 10px;

							&:last-child{
								margin-right: 0;
							}
							display: inline-block;
							i{
								padding: 5px;
								background: linear-gradient(270deg, theme-color('dark'), theme-color('dark'), #fff, #fff);
								background-position: 100% 50%;
								background-size: 300% 300%;
								width: 50px;
								height: 50px;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 50%;
								transition: all .5s ease-out 0s;
								font-size: 22px;

								&:hover{
									background-position: 1% 50%;
									color: theme-color('primary');
								}

								@include media-breakpoint-down(sm){
									background: #fff;
									color: theme-color('primary');
								}
							}
						}
					}
				}
			}
		}
	}
		// The Location Bar
	#footer-location-bar {
		.location-bar {
			font-size: 13px;
			list-style: none;
			li {
				padding-right: 5px;
				padding-top: 5px;
				padding-bottom: 5px;
				a:hover {
					color: theme-color("primary");
				}
			}
			li:last-child {
				display: none !important;
			}		
		}
	}

	#site-legal{
		@extend .container;
		color: theme-color('dark');
		font-weight: 300;
		font-size: 13px;
		text-align: center;
		a:hover {
			color: theme-color('primary');
		}
	}
}