$site-footer-bg-color:			theme-color('dark');
$site-footer-color:				#fff;

//Site Legal
$site-legal-bg-color: 			transparent;
$site-legal-color:				#fff;
$site-legal-link-color:			theme-color('dark');